:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Hind", sans-serif;
  --primary-color: #35a8e0;
  --light-text-color: #ffffff;
  --dark-text-color: #2f2f2f;
  --dark-secondary-text-color: #565e66;
  --border-color: #d4dbe0;
  --icon-bg-color: #f4f7f9;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(/JustIdea_task/images/down_arrow.svg) white no-repeat
    calc(100% - 15px);
  background-size: 12px;
  color: #757575;
}

.arrow-icon {
  position: relative;
}

.competences {
  display: flex;
  justify-content: center;
}

.competences .gearwheel {
  border: 2px solid var(--border-color);
  border-radius: 50%;
  padding: 60px;
}

.competences p {
  color: var(--light-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 285px;
}

.competences-icons-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 150px;
  margin-bottom: 200px;
  padding: 0;
  position: relative;
}

.competences-icons-list .icon {
  position: absolute;
  top: 255px;
}

.contact-section-bg {
  background-image: url("/JustIdea_task/images/bg-contact-section.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-section {
  padding: 35px 0 30px 0;
}

.contact-section a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact-section h2 {
  color: var(--light-text-color);
  font-family: var(--secondary-font-family);
  font-size: 29px;
  margin-bottom: 15px;
  text-align: center;
}

.contact-section p {
  color: var(--light-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.small-input,
select {
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: var(--main-font-family) !important;
  font-size: 14px !important;
  height: 45px;
  margin: 6px !important;
  width: 260px !important;
}

.icon {
  background-color: var(--icon-bg-color);
  border: 3px solid var(--border-color);
  border-radius: 50%;
  height: 80px;
  position: relative;
  width: 80px;
}

.icon-label {
  color: var(--dark-text-color);
  font-family: var(--secondary-font-family);
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.icon-label.bottom {
  top: 100%;
  margin-top: 20px;
}

.icon-label.horizontal {
  height: 100%;
  display: flex;
  align-items: center;
  top: 0;
}

.icon-label.left {
  right: 100%;
  margin-right: 20px;
}

.icon-label.right {
  left: 100%;
  margin-left: 20px;
}

.icon-label.top {
  top: -45px;
}

.icon-label.vertical {
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon img {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 100%;
}

.main-section h1 {
  color: var(--dark-text-color);
  font-family: var(--secondary-font-family);
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 40px;
  text-align: center;
}

.main-section h2 {
  color: var(--dark-secondary-text-color);
  font-family: var(--main-font-family);
  font-size: 16px;
  text-align: center;
  margin-bottom: 100px;
}

.message-input {
  border: 1px solid transparent;
  border-radius: 6px;
  font-family: var(--main-font-family) !important;
  font-size: 14px;
  height: 110px;
  margin: 6px;
  margin-bottom: 15px;
  width: 805px;
}

.message-input::placeholder {
  position: absolute;
  padding: 12px 12px;
}

.submit-button {
  background-color: var(--primary-color);
  border: 1px solid transparent;
  border-radius: 6px;
  color: var(--light-text-color);
  display: block;
  font-family: var(--main-font-family);
  font-size: 13px;
  height: 45px;
  margin: 15px auto 0px auto;
  width: 160px;
}

.terms-checkbox input {
  margin: 2px 5px;
  transform: scale(1.2);
}

.terms-checkbox span {
  color: var(--light-text-color);
  font-size: 12px;
}

@media (max-width: 767px) {
  .contact-section-bg {
    background-image: url("/JustIdea_task/images/bg-reversed.png");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .competences p {
    font-size: 9px;
    top: 290px;
  }
  .competences .gearwheel {
    border: 1px solid transparent;
    max-width: 80%;
    padding: 0;
  }
  .competences-icons-list {
    display: list-item;
    margin: 30px auto;
    position: static;
  }
  .competences-icons-list .icon {
    position: static;
  }
  .competences-icons-list .icon img {
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    padding: 5px !important;
  }
  .icon {
    background-color: transparent;
    border: none;
    height: auto;
    position: static;
    transform: none !important;
  }
  .icon-label {
    width: 200px;
    white-space: normal;
  }
  .icon-label.bottom,
  .icon-label.left,
  .icon-label.right,
  .icon-label.top {
    font-size: 12px;
    left: 100%;
    margin-left: 5px;
    right: auto;
    top: 0;
  }
  .icon-label.horizontal,
  .icon-label.vertical {
    align-items: center;
    height: 50px;
    justify-content: flex-start;
    margin: 0;
    width: 200px;
  }
  .main-section h1 {
    font-size: 23px;
  }
  .main-section h2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .small-input,
  .message-input,
  select {
    width: 285px !important;
  }
  .terms-checkbox {
    display: block;
    margin: 0 auto;
    width: 285px;
  }
}
